* {
  font-family: Maple Mono;
  background: transperent;
  color: #c0caf5;
}

#window {
  color: #c0caf5;
  border-color: #c0caf5;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #181c28 100%);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #c0caf5;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #c0caf5;
  color: #c0caf5;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #262b3d;
  color: #1e9ee6;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #181c28;
  color: 	#c0caf5;
  border-color: #c0caf5;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #lf2333;
  background-color: #262b3d;
  border-color: #c0af5;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
